@import url('../css/root.css');

@media screen and (min-width: 1200px){
    *{
        font-family: var(--quicksand);
    }
    body{
        background-image: url('../../img/bg.png');
        background-position: top left;
        background-repeat: no-repeat;
        background-size: 40vmax;
        overflow-x: hidden;
    }
    /* Judul */
    .container .col-lg-12 .row .col-lg-8 .h1{
        position: relative;
        margin: auto;
        top: 50px;
        left: 35%;
        font-size: 60px;
        translate: (50%, 50%);
    }

    .container .col-lg-12 .row .col-lg-8 p{
        position: relative;
        left: 45%;
        top: 75px;
        font-size: 14px;
    }

    /* Forms */
    form .form-control{
        height: 60px;
        border: none;
        background-color: #C4C4C4;
    }

    form .form-control::placeholder{
        color:var(--black);
    }

    .container .col-lg-12 .row .col-lg-8 form{
        position: relative;
        margin: 0 auto;
        left: 30%;
        top: 90px;
        border-radius: 20px;
        translate: (-50%, -50%);    
    }
    
    
    .change-password{
        width: 440px;
        margin-left: 9px;
        background-color: var(--primary) !important;
        color: var(--white) !important;
    }
}    